<%= turbo_frame_tag 'categoria' do%>

    <h2><%= t('.title') %></h2>

    <%= link_to t('.all'), products_path  %>

    <%= render partial: 'categorium', collection: @categoria %>

    <%= render partial: 'product', collection: @products %>
<% end%>